@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: 'PT Sans', sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 222.2 84% 4.9%;
    --card: 0 0% 100%;
    --card-foreground: 222.2 84% 4.9%;
    --popover: 0 0% 100%;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: 47 90% 62%;
    --primary-foreground: 233 65% 15%;
    --secondary: 210 40% 96.1%;
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: 210 40% 96.1%;
    --muted-foreground: 215.4 16.3% 46.9%;
    --accent: 55 100% 73%;
    --accent-foreground: 233 65% 15%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --border: 214.3 31.8% 91.4%;
    --input: 214.3 31.8% 91.4%;
    --ring: 47 90% 62%;
    --radius: 0.5rem;
  }

  .dark {
    --background: 233 30% 12%;
    --foreground: 210 40% 98%;
    --card: 233 45% 18%;
    --card-foreground: 210 40% 98%;
    --popover: 233 45% 18%;
    --popover-foreground: 210 40% 98%;
    --primary: 47 90% 62%;
    --primary-foreground: 233 65% 15%;
    --secondary: 233 30% 20%;
    --secondary-foreground: 210 40% 98%;
    --muted: 233 30% 20%;
    --muted-foreground: 210 40% 70%;
    --accent: 55 100% 73%;
    --accent-foreground: 233 65% 15%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --border: 233 30% 25%;
    --input: 233 30% 25%;
    --ring: 47 90% 62%;
    --chart-1: 47 90% 62%;
    --chart-2: 55 100% 73%;
    --chart-3: 210 40% 98%;
    --chart-4: 210 40% 70%;
    --chart-5: 233 30% 25%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
